__pycache__
.DS_Store
.ipynb_checkpoints
.idea
.pytest_cache
.vscode
.gitignore
.git
.gitattributes
.gitmodules
.travis.yml
.coveragerc
.pre-commit-config.yaml
.readthedocs.yaml
.azure-pipelines
.azure-pipelines.yml
.bumpversion.cfg
.codecov.yml
.cookiecutterrc
.editorconfig
.gitlab-ci.yml
.landscape.yml
.pylintrc
.readt
